@charset "utf-8";
@import "./utils.scss";
@import "./intro.css";
@import "./introduce.css";
@import "./works.css";
@import "./step.css";
@import "./contact.css";

.back_top {
  position: fixed;
  bottom: 0;
  right: 20px;
  padding: 35px 55px 35px 35px;
  font-family: "Beatrice", Arial, sans-serif;
  color: #cec9c9;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
}

.emoji {
  position: fixed;
  top: 0;
  z-index: 20;
  pointer-events: none;
  opacity: 0;

  img {
    width: 50px;
  }
}
